<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>
		<title>Joebot - By Joseph CHAN (joseph.chan@harmonicinc.com)</title>

		<link type="text/css" rel="stylesheet" href="bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="bootstrap-vue.css"/>

		<script src="vue.min.js"></script>
		<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
		<script src="bootstrap-vue.js"></script>
		<script src="vue-resource.js"></script>
		<script src="axios.min.js"></script>
	</head>
	<body>
		<b-container fluid id="clients_list">
			<br/>
			<b-container fluid>
				<b-row>
					<b-col>
						<b-form-input v-model="filter" type="text" placeholder="Type to Search"></b-form-input>
					</b-col>
					<b-col cols="*">
						<b-dropdown size="lg"  variant="link" right toggle-class="text-decoration-none" no-caret>
							<template slot="button-content">&#x2630;<span class="sr-only">Menu</span></template>
							<b-dropdown-item href="#" @click.stop="bulk_install()">Bulk Install</b-dropdown-item>
						</b-dropdown>
					</b-col>
				</b-row>
			</b-container>
			<br/>
			<!--<div class="text-uppercase text-bold">id selected: {{selected}}</div>-->
			<b-table show-empty
					stacked="md"
					:items="items"
					:fields="fields"
					:current-page="currentPage"
					:per-page="perPage"
					:filter="filter"
					:small="true"
					:hover="true"
					:sort-by.sync="sortBy"
					:sort-desc.sync="sortDesc"
					@filtered="onFiltered"
					>
				<template slot="HEAD_id" slot-scope="data">
					<label class="form-checkbox">
						<input type="checkbox" v-model="selectAll" @click="select">
						{{ data.label }}
					</label>
				</template>
				<template slot="HEAD_selected" slot-scope="data">
					<b-form-checkbox @click.native.stop @change="select" v-model="allSelected">
					</b-form-checkbox>
				</template>
				<template slot="id" slot-scope="row">
					<label class="form-checkbox">
						<input type="checkbox" :value="row.item.id" v-model="selected">
						<i class="form-icon"></i>
					</label>
					{{ row.item.id }}
				</template>
				<template v-slot:cell(port_tunnels)="row">
					<span v-for="(port_tunnel, index) in row.item.port_tunnels" :key="port_tunnel.server_port">
						{{ window.location.hostname + ':' + port_tunnel.server_port }} -> {{ port_tunnel.client_port }} <br />
					</span>
				</template>
				<template v-slot:cell(tags)="row">
					<span v-for="tag in row.item.tags" :key="tag">
						{{ tag }}<br />
					</span>
				</template>
				<!-- <template slot="tags" slot-scope="row">
					<span v-for="tag in row.item.tags" :key="tag">
						{{ tag }}<br />
					</span>
				</template> -->
				<template v-slot:cell(actions)="row">
					<!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
					<b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" variant="primary">
						Details
					</b-button>
					<b-button size="sm" @click.stop="open_terminal(row.item)" v-if="row.item.gotty_web_terminal_info != null">
						Terminal
					</b-button>
					<b-button size="sm" @click.stop="open_vnc(row.item)" v-if="row.item.novnc_websocket_info != null">
						VNC
					</b-button>
					<b-button size="sm" @click.stop="open_filebrowser(row.item)" v-if="row.item.filebrowser_info != null">
						Files
					</b-button>
					<b-button size="sm" @click.stop="create_tunnel(row.item)">
						Create Tunnel
					</b-button>
				</template>
			</b-table>

			<b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
				<pre>{{ modalInfo.content }}</pre>
			</b-modal>
			<b-modal id="modalCreateTunnel" ref="modalCreateTunnel" title="Create Tunnel To Client Port" @ok="handleCreateTunnelOk" @shown="focusInputPort">
				<form @submit.stop.prevent="handleSubmitTunnelCreation">
					<b-form-input type="text" ref="modalTargetPortInput" placeholder="Enter the target client port, eg: 8086" v-model="targetClientPortToBeCreated"></b-form-input>
				</form>
			</b-modal>

			<!--
			<b-modal id="modalInitBulkCommands" ref="modalInitBulkCommands" title="Execute Commands On Selected Clients" @ok="handleInitBulkCommandsOk" @shown="focusInputCommands">
				<form @submit.stop.prevent="handleSubmitInitBulkCommands">
					<b-form-textarea rows="5" ref="modalBulkCommands" v-model="bulkCommandsToBeExecuted" placeholder="Separate by new line, eg: &#10;cd /opt&#10;sleep 2&#10;ls"></b-form-textarea>
				</form>
			</b-modal>
			-->

			<b-modal id="modalInitBulkInstall" ref="modalInitBulkInstall" title="Joebot Bulk Installation Via SSH" @ok="handleInitBulkInstallOk" @shown="focusTargetIPList" size="xl">
				<form @submit.stop.prevent="handleSubmitInitBulkInstall">
					<b-container fluid>
						<b-row>
							<b-col sm="3">
								<label for="textarea-small">Joebot Server Address:</label>
							</b-col>
							<b-col sm="9">
								<b-form-input type="text" ref="modalTargetJoebotServerAddr" placeholder="eg: hcde360:13579" v-model="targetJoebotServerAddr"></b-form-input>
							</b-col>
						</b-row>

						<br />
						<b-row>
							<b-col sm="3">
								<label for="textarea-small">Address List:</label>
							</b-col>
							<b-col sm="9">
								<b-form-textarea rows="5" ref="modalTargetIPList" v-model="targetIPList" placeholder="Separate by new line, eg: &#10;10.50.100.101&#10;10.50.100.102:2222"></b-form-textarea>
							</b-col>
						</b-row>

						<br />
						<b-row>
							<b-col sm="3">
								<label for="textarea-small">Username:</label>
							</b-col>
							<b-col sm="9">
								<b-form-input type="text" ref="modalTargetSSHUser" placeholder="eg: vagrant" v-model="targetSSHUser"></b-form-input>
							</b-col>
						</b-row>

						<br />
						<b-row>
							<b-col sm="3">
								<label for="textarea-small">Password:</label>
							</b-col>
							<b-col sm="9">
								<b-form-input type="password" ref="modalTargetSSHPassword" placeholder="Optional if using SSH key, eg: vagrant" v-model="targetSSHPassword"></b-form-input>
							</b-col>
						</b-row>

						<br />
						<b-row>
							<b-col sm="3">
								<label for="textarea-small">SSH Key:</label>
							</b-col>
							<b-col sm="9">
								<b-form-textarea rows="5" ref="modalTargetSSHKeyContent" v-model="targetSSHKeyContent" placeholder="Optional if using password&#10;(p.s SSH pem key)"></b-form-textarea>
							</b-col>
						</b-row>
					</b-container>
				</form>
			</b-modal>
		</b-container>

		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
